
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    max-height: 100%;
}
body { 
    font: 13px Helvetica, Arial; 
}
form { 
    text-align: center;
}
form button { 

    color: black;
    padding: 7.5px 10px;
    width: auto;
    position: relative;
    text-align: center;
    float: right;
    right: 0%;
    width: 15%;
}
#main{
    width: 100%;
    height: 100%
}
#game{
    float: right;
    background-color: white;
    width: 60%;
    height: 100%;
    position: relative;
}
#imageContainer{
    margin-left: 20%;
    margin-right: 20%;
}
#image{
    width: 75%;
    height: 75%;
}
#title{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}
#chat{
    float:left; 
    width: 30%;
    background-color: lightsteelblue;
    height: 100%;
    position: absolute;
}
.messages{
    position: relative;
    height: 95.5%;
    max-height: inherit;
    overflow-y: auto;
    padding: 15px 2px;
    font-size: 15px;
    color: white;
    left: 5%;
}
#m{
    float:left;
    padding: 5px;
    width: 85%;
    max-width: 85%;
    max-height: 80px;

}
