
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    max-height: 100%;
}
body { 
    font: 13px Helvetica, Arial; 
}
form { 
    text-align: center;
}
form button { 

    color: black;
    padding: 7.5px 10px;
    width: auto;
    position: relative;
    text-align: center;
    float: right;
    right: 0%;
    width: 15%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;

}
#main{
    width: 100%;
    height: 100%
}
#game{
    float: right;
    background-color: white;
    width: 60%;
    height: 100%;
    position: relative;
}
#imageContainer{
    margin-left: 15%;
    width: 50%;
    height: 50%;
    border-style: solid;
    border-width: 10px;
}
#image{
    display: block;
    width: 100%;
    height: 100%;
}
#title{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}
#chat{
    border-style: solid;
    border-left-width: 2px;
    border-top-width: 0px;
    float:left; 
    width: 30%;
    background-color: lightsteelblue;
    height: 100%;
    position: absolute;
}
.messages{
    position: relative;
    height: 90%;
    max-height: inherit;
    overflow-y: auto;
    padding: 15px 2px;
    font-size: 15px;
    color: white;
    left: 5%;
}
#header{
    background-color: olivedrab;
    border-style: solid;
    border-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;

}
#headerTitle{
    text-align: center;
    font-size: 30px;
    color: white;
}
#m{
    float:left;
    padding: 5px;
    width: 85%;
    height: 35px;
    max-width: 85%;
    max-height: 80px;
    border-style: solid;
    border-width: 2px;

}
